#form-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 48px;
    color: #FFFFFF;
}

input,
textarea {
    background-color: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
}

label {
    color: white;
    font-size: 0.9em;
    font-style: italic;
}