        .quote-div {
            padding: 40px;
            padding-top: 40px;
            border: 1px solid #1b4332;;
            background-color: white;
            box-sizing: border-box;
            border-radius: 10px;
            margin-bottom: 30px;
        }
        
        #quote-form {
            background-color: #1b4332;
            border-radius: 25px 25px 0px 0px;
            padding: 50px;
            height: 100%;
            position: fixed;
            width: 450px;
        }
        
        .quote {
            font-family: 'Raleway';
            margin-bottom: 10px;
            font-size: 1.8em;
        }